@import url(./assets/css/shared-variables.css);

#root {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    margin-top: var(--header-height);
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}
